# Functions

Functions and a table of (x,y) values

In [2]:
x = 5
y = 4 * x + 3

print(x, ",", y)
print("x \t y")

for x in range(11):
  y = 4 * x + 3
  print(x, "\t", y)

5 , 23
x 	 y
0 	 3
1 	 7
2 	 11
3 	 15
4 	 19
5 	 23
6 	 27
7 	 31
8 	 35
9 	 39
10 	 43

Defining a Python function

In [4]:
def f(x):
  y = 4*x + 3
  return y

print(5, ",", f(5))

for x in range(11):
  print(x, "\t", f(x))

5 , 23
0 	 3
1 	 7
2 	 11
3 	 15
4 	 19
5 	 23
6 	 27
7 	 31
8 	 35
9 	 39
10 	 43